.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.body h1{
    font-size: 40px;
}
.text{
    width: 40%;
    font-weight: 500;
}
.body button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: solid palevioletred;
    color: white;
    background-color: palevioletred;
    font-weight: bold;
}
